body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.container {
    min-width: 480px !important;
    margin: 0 auto;
}